body{
  background: #1C1C1C;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'DS-DIGI', serif;
  src: url('../fonts/DS-DIGI.TTF');
}

#clock {
  margin-top: 250px;
  font-family: DS-DIGI, serif;
  color:silver;
  font-size: 2000%;
  text-align: center;
}
#city {
  white-space: nowrap;
  font-family: DS-DIGI, serif;
  color: silver;
  font-size: 1000%;
  text-align: center;
  overflow: hidden;
}
